$headings-color: #222e3c;
$dark-green: #002b31;
$green: #004942;
$gray: #222e3c;
$highlight: #00cbb4;
$primary: #004942;
$secondary: #5da09a;
$success: #00864e;
$info: #2a7be4;
$warning: #f68f57;
$light-warning: #fef0e8;
$dark-warning: #f8a579;
$danger: #da1414;
$danger-light: #f16f6f;
$white: #fff;
$pending: #fa0;
$light: #f9fafd;
$dark: #222e3c;
$status-darker-info: #1c4f93;
$status-darker-success: #00864e;
$status-pending: #fa0;
$status-darker-pending: #b95000;
$status-darker-warning: #c46632;
$status-darker-error: #932338;
$status-lighter-error: #fdebeb;